#app-chat {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

    @media (max-width: 425px) {
        position: relative;
        height: 100%;
        padding: 0;

        .container {
            > .row {
                margin: 0;
                padding: 0 10px !important;
            }
        }
    }

<<<<<<< HEAD
    @media (min-width: 992px) {  }

    @media (min-width: 1200px) { }

=======
>>>>>>> master
    .users-list {
        border-bottom: 1px dashed darken($light, 8);
        padding: 8px 10px 12px;
        @media (max-width: 425px) {
            padding: 8px 0 12px;
        }
    }

    .chat-messages {
        position: absolute;
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;

        &::-webkit-scrollbar {
            width: 1em;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }

        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }

        @media (max-width: 425px) {
            position: relative;
            height: auto;
            bottom: 0;
            padding: 0 !important;
        }
    }

    .chat-form {
        position: absolute;
        bottom: 10px;
        height: 115px;
        background-color: lighten($dark, 70);
        width: 100%;
        border-top: 1px dashed darken($light, 8);

        .chat-input {
            width: 100%;
            input {
                width: 100%;
                @media (max-width: 768px) and (orientation: landscape), (max-width: 731px) and (orientation: landscape), (max-width: 823px) and (orientation: landscape) {
                    //&:focus {
                    //    position: fixed;
                    //    left: 0;
                    //}
                }
            }
        }

        .chat-input-send {
            float: right;
        }

        @media (max-width: 425px) {
            width: 100%;
            bottom: 0;
            position: fixed;
            height: auto;
            padding: 10px;
        }
    }

    .filter {
        background-color: $light;
        position: absolute;
        margin-top: -73px;
        height: 73px;
        padding-right: 2px;
        overflow: hidden;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 1em;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }

        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }

        .dropdown {
            display: flex;

            &::-webkit-scrollbar {
                width: 1em;
            }

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            }

            &::-webkit-scrollbar-thumb {
                background-color: darkgrey;
                outline: 1px solid slategrey;
            }

        }

        .suggestion-list {
            list-style: none;
            margin: 0;
            padding: 0;
            width: max-content;
            min-height: 26px; /*required for scrolling */
            max-height: 145px;
            overflow: auto; /*required for scrolling */

            ul li:hover {
                background: gainsboro;
            }
        }
    }
}
