#app-chat {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

    @media (min-width: 768px) {  }

    @media (min-width: 992px) {  }

    @media (min-width: 1200px) { }

    .users-list {
        border-bottom: 1px dashed darken($light, 8);
        padding: 8px 10px 12px;
    }

    .chat-messages {
        position: absolute;
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
    }

    .chat-form {
        position: absolute;
        bottom: 10px;
        height: 115px;
        background-color: lighten($dark, 70);
        width: 100%;
        border-top: 1px dashed darken($light, 8);

        .chat-input {
            width: 100%;
            input {
                width: 100%;
            }
        }

        .chat-input-send {
            float: right;
        }
    }
}
