#index {
    .left-column {
        @media (max-width: 425px) {
            & {
                display: none;
            }
            &.show {
                display: block;
            }
        }
    }

    .right-column {
        padding: 5px 0 0;
        background-color: $light;
        border-left: 1px dashed darken($light, 8);
        height: 100%;
        position: fixed;
        right: 0;

        @media (max-width: 544px) {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
        }

        @media (max-width: 425px) {
            display: none;
            position: relative;
            padding: 0;
            &.show {
                display: block;
            }
        }
    }
}
