.video-stream {
    margin: 15px 0;
    max-height: 300px;
    height: 300px;

    .audio-only {
        background-color: $secondary;
    }

    .video-stream-username {
        position: absolute;
        top: 5px;
        left: 20px;
        padding: 4px 6px;
        z-index: 99;
        background: rgba($black, 0.5);
        color: $white;
        @media (max-width: 768px) and (orientation: landscape), (max-width: 731px) and (orientation: landscape), (max-width: 823px) and (orientation: landscape) {
            text-overflow: ellipsis;
            max-width: 70%;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .video-stream-audio-only {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 9;
        transform: translate(-50%, -50%);
        font-size: 5em;
        @media (max-width: 768px) and (orientation: landscape), (max-width: 731px) and (orientation: landscape), (max-width: 823px) and (orientation: landscape) {
            font-size: 2.5em;
        }
    }

    .video-stream-pause-video {
        position: absolute;
        bottom: 2%;
        left: 7%;
        z-index: 9;
        font-size: 2em;
        color: $white;
        cursor: pointer;
        visibility: hidden;
    }

    .video-stream-pause-audio {
        position: absolute;
        bottom: 2%;
        right: 7%;
        z-index: 9;
        font-size: 2em;
        color: $white;
        cursor: pointer;
        visibility: hidden;
    }

    .video-stream-fullscreen-video {
        position: absolute;
        bottom: 2%;
        transform: translate(-50%, 0);
        left: 50%;
        z-index: 9;
        font-size: 2em;
        color: $white;
        cursor: pointer;
        visibility: hidden;
    }

    .video-stream-volume-bar {
        position: absolute;
        z-index: 9;
        top: 15px;
        right: 55px;
        height: 15px;
        background-color: rgba($black, 0.5);
        width: 20%;
        cursor: pointer;
        visibility: hidden;
        .progress-bar {
            background-color: $white;
        }
    }

    .video-stream-audiowave {
        font-size: 1.8em;
        position: absolute;
        right: 20px;
        z-index: 9;
        color: $white;
        display: none;
        @keyframes audioWaveAnimation {
            0%   { opacity:1; }
            50%  { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes audioWaveAnimation {
            0%   { opacity:1; }
            50%  { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes audioWaveAnimation {
            0%   { opacity:1; }
            50%  { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes audioWaveAnimation {
            0%   { opacity:1; }
            50%  { opacity:0; }
            100% { opacity:1; }
        }
        & {
            -webkit-animation: audioWaveAnimation 0.7s infinite;
            -moz-animation: audioWaveAnimation 0.7s infinite;
            -o-animation: audioWaveAnimation 0.7s infinite;
            animation: audioWaveAnimation 0.7s infinite;
        }
        &.enabled {
            display: block;
        }
    }

    &:hover {
        .video-stream-pause-audio, .video-stream-pause-video, .video-stream-fullscreen-video, .video-stream-volume-bar {
            visibility: visible;
        }
    }

    video {
        position: relative !important;
        transform: inherit !important;
        object-fit: scale-down !important;
    }

    @media (max-width: 1440px) {
        height: 250px;
    }

    @media (max-width: 1024px) {
        height: 200px;
    }

    @media (max-width: 768px) and (orientation: landscape), (max-width: 731px) and (orientation: landscape), (max-width: 823px) and (orientation: landscape) {
        & {
            flex: 0 0 50%;
            max-width: 50%;
            height: 100px;
            padding: 0 10px;
        }
    }
}
