#video-canvas {
    text-align: center;
    margin: 0 auto;
    .video-item {
        display: inline-block;
        video {
            position: relative !important;
        }

        @media only screen and (min-width : 768px) {
            //width: 415px;
        }
    }
}
