@import "~bootstrap";
@import "~bootstrap-vue";

// Imports
@import "header";
@import "videos";
@import "stream";
@import "chat";
@import "broadcast_initializer";

// Pages
@import "index";

// Themes
@import "themes/dark";

.hidden {
    display: none;
}

@media (max-width: 425px) {
    .hide-425 {
        display: none;
    }
    .show-425 {
        display: inline-block;
    }
    .hide-375 {
        display: none;
    }
    .show-375 {
        display: inline-block;
    }
    .capitalize-425 {
        text-transform: capitalize;
    }
}

@media (max-width: 375px) {
    .hide-375 {
        display: none;
    }
    .show-375 {
        display: inline-block;
    }
    .capitalize-425 {
        text-transform: capitalize;
    }
}
